
/* Your CSS Code here. */


 .bx{
  width: 30px;
  height: 30px;
 
 }
 .box1{
  background-color: red;
  order: 1;
 }
 .box2{
  background-color: blue;
  order: 2;
 }
 .box3{
  background-color: green;
 }

 .container{
  display: flex;
  flex-direction: row;
  
 }